h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 50px;
}

label {
  color: rgba(4, 75, 113, 0.89);
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
}

select {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;

}

input {
  padding: 5px;
  margin: 1px;
  border: thin dashed #000;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;

}

button {
  padding: 10px;
  border: 1px solid gray;
  background-color: rgba(4, 75, 113, 0.89);
  border-radius: 5px;
  font: inherit;
  color: white;
}

button:hover {
  background-color: dodgerblue;
  box-shadow: 3px 3px 5px grey;
}

p{
  color: purple;
  font-family: "Lucida Console", "Courier New", monospace;
}

#roll-history {
  background-color: lightseagreen;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 35px;
}